PGConfig/obj/Debug/PGConfig.csprojAssemblyReference.cache
PGComm/obj/Debug/PGComm.csprojAssemblyReference.cache
AutoSmartUpdater/obj/Debug/AutoSmartUpdater.csprojAssemblyReference.cache
Report/obj/Debug/Report.exe
Report/obj/Debug/Report.csprojAssemblyReference.cache
Report/obj/Debug/Report.csproj.FileListAbsolute.txt
Report/obj/Debug/Report.csproj.CoreCompileInputs.cache
Report/obj/Debug/Report.pdb
AutoSmartUpdater/obj/Debug/AutoSmartUpdater.csproj.FileListAbsolute.txt
AsynchronousClient/obj/Debug/AsynchronousClient.csprojAssemblyReference.cache
AsynchronousClient/obj/Debug/AsynchronousClient.csproj.FileListAbsolute.txt
.vs/PGS_eBill-CE/v15/Server/sqlite3/storage.ide-wal
.vs/PGS_eBill-CE/v15/Server/sqlite3/storage.ide-shm
.vs/PGS_eBill-CE/v15/.suo
*.pdb
PMS/PMS/obj/Debug/PMS.csprojAssemblyReference.cache
PMS/PMS/obj/Debug/PMS.csproj.FileListAbsolute.txt
PMS/PMS/obj/Debug/PMS.csproj.CoreCompileInputs.cache
PMS/PMS/bin/Debug/PGConfig.dll
PMS/PMS/bin/Debug/PGComm.xml
PMS/PMS/bin/Debug/PGComm.dll
PMS/PMS/bin/Debug/KICCCard.dll
PGServerManager/obj/Debug/PGServerManager.exe
PGServerManager/obj/Debug/PGServerManager.csprojAssemblyReference.cache
PGServerManager/obj/Debug/PGServerManager.csproj.FileListAbsolute.txt
PGServerManager/obj/Debug/PGServerManager.csproj.CoreCompileInputs.cache
PGServerManager/bin/Debug/PGServerManager.exe
PGServerManager/bin/Debug/PGConfig.dll
PGPOSClient/obj/Debug/PGPOSClient.csproj.CoreCompileInputs.cache
PGPOSClient/bin/Debug/PGPOSClient.dll
PGPOSClient/bin/Debug/PGConfig.dll
PGPOSClient/bin/Debug/PGComm.xml
PGPOSClient/bin/Debug/PGComm.dll
PGPOSClient/bin/Debug/KICCCard.dll
PGPOS/obj/Debug/PGPOS.exe
PGPOS/obj/Debug/PGPOS.csprojAssemblyReference.cache
PGPOS/obj/Debug/PGPOS.csproj.FileListAbsolute.txt
PGPOS/obj/Debug/PGPOS.csproj.CoreCompileInputs.cache
PGPOS/bin/Debug/PGPOS.exe
PGServerManager/bin/Debug/PGComm.xml
PGServerManager/bin/Debug/PGComm.dll
PGServer/obj/Debug/PGServer.exe
PGServer/obj/Debug/PGServer.csprojAssemblyReference.cache
PGServer/obj/Debug/PGServer.csproj.FileListAbsolute.txt
PGServer/obj/Debug/PGServer.csproj.CoreCompileInputs.cache
PGServer/bin/Debug/PGServer.exe
PGServer/bin/Debug/PGConfig.dll
PGServer/bin/Debug/PGComm.xml
PGServer/bin/Debug/PGComm.dll
PGServer/bin/Debug/MemberShip.dll
PGServer/bin/Debug/KICCCard.dll
PGPOSClient/obj/Debug/PGPOSClient.dll
PGPOSClient/obj/Debug/PGPOSClient.csprojAssemblyReference.cache
PGPOSClient/obj/Debug/PGPOSClient.csproj.FileListAbsolute.txt
Report/bin/Debug/Report.exe
PMS/PMS/obj/Debug/PMS.exe
PMS/PMS/bin/Debug/PMS.exe
KICCCard/bin/Debug/PGComm.dll
KICCCard/bin/Debug/KICCCard.dll
CardBills/bin/Debug/PGConfig.dll
CardBills/bin/Debug/PGComm.xml
CardBills/bin/Debug/PGComm.dll
CardBills/bin/Debug/CardBills.dll
Member/bin/Debug/PGConfig.dll
Member/bin/Debug/PGComm.xml
Member/bin/Debug/PGComm.dll
Member/bin/Debug/Member.dll
KICCCard/bin/Debug/PGConfig.dll
Member/obj/Debug/Member.dll
Member/obj/Debug/Member.csprojAssemblyReference.cache
Member/obj/Debug/Member.csproj.FileListAbsolute.txt
Member/obj/Debug/Member.csproj.CoreCompileInputs.cache
KICCCard/bin/Debug/PGComm.xml
PGPOS/bin/Debug/PGConfig.dll
PGPOS/bin/Debug/PGComm.xml
PGPOS/bin/Debug/PGComm.dll
PGPOS/bin/Debug/KICCCard.dll
PGConfig/obj/Debug/PGConfig.dll
PGConfig/obj/Debug/PGConfig.csproj.FileListAbsolute.txt
PGConfig/bin/Debug/PGConfig.dll
PGComm/obj/Debug/PGComm.dll
PGComm/obj/Debug/PGComm.csproj.FileListAbsolute.txt
PGComm/obj/Debug/PGComm.csproj.CoreCompileInputs.cache
PGComm/bin/Debug/PGComm.dll
PGComm/bin/Debug/PGComm.XML
PGClient/obj/Debug/eBillCE.exe
PGClient/obj/Debug/eBill-CE.csprojAssemblyReference.cache
PGClient/obj/Debug/eBill-CE.csproj.FileListAbsolute.txt
PGClient/obj/Debug/eBill-CE.csproj.CoreCompileInputs.cache
PGClient/bin/Debug/eBillCE.exe
PGClient/bin/Debug/PGPOSClient.dll
PGClient/bin/Debug/PGConfig.dll
PGClient/bin/Debug/PGComm.xml
PGClient/bin/Debug/PGComm.dll
PGClient/bin/Debug/MemberShip.dll
PGClient/bin/Debug/Member.dll
PGClient/bin/Debug/KICCCard.dll
PGClient/bin/Debug/CardBills.dll
MemberShip/obj/Debug/MemberShip.dll
MemberShip/obj/Debug/MemberShip.csprojAssemblyReference.cache
MemberShip/obj/Debug/MemberShip.csproj.FileListAbsolute.txt
MemberShip/obj/Debug/MemberShip.csproj.CoreCompileInputs.cache
MemberShip/bin/Debug/PGComm.xml
MemberShip/bin/Debug/PGComm.dll
MemberShip/bin/Debug/MemberShip.dll
PGClient/bin/Debug/PGLog/*.Log
AutoSmartUpdater/obj/Debug/SmartUpdater.exe
AutoSmartUpdater/obj/Debug/AutoSmartUpdater.csproj.GenerateResource.cache
AutoSmartUpdater/obj/Debug/AutoSmartUpdater.csproj.CoreCompileInputs.cache
AutoSmartUpdater/bin/Debug/SmartUpdater.exe
AsynchronousClient/obj/Debug/AsynchronousClient.dll
AsynchronousClient/obj/Debug/AsynchronousClient.csproj.CoreCompileInputs.cache
AsynchronousClient/bin/Debug/AsynchronousClient.dll
CardBills/obj/Debug/CardBills.csproj.CoreCompileInputs.cache
Member/obj/Debug/Member.csproj.GenerateResource.cache
KICCCard/obj/Debug/KICCCard.dll
KICCCard/obj/Debug/KICCCard.csprojAssemblyReference.cache
KICCCard/obj/Debug/KICCCard.csproj.CoreCompileInputs.cache
CardBills/obj/Debug/CardBills.dll
CardBills/obj/Debug/CardBills.csprojAssemblyReference.cache
CardBills/obj/Debug/CardBills.csproj.GenerateResource.cache
PGClient/obj/Debug/AxInterop.KiccPosIE.dll
PGClient/bin/Debug/SmartUpdater.exe
PGClient/bin/Debug/Interop.KiccPosIE.dll
PGClient/bin/Debug/AxInterop.KiccPosIE.dll
PGClient/bin/Debug/AsynchronousClient.dll
MemberShip/obj/Debug/MemberShip.csproj.GenerateResource.cache
PGPOS/obj/Debug/PGPOS.csproj.GenerateResource.cache
PGConfig/obj/Debug/PGConfig.csproj.CoreCompileInputs.cache
PGClient/obj/Debug/eBill-CE.csproj.ResolveComReference.cache
PGClient/obj/Debug/eBill-CE.csproj.GenerateResource.cache
PGClient/obj/Debug/Interop.KiccPosIE.dll
PGClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PGClient/obj/Debug/DesignTimeResolveAssemblyReferences.cache
PGPOSClient/bin/Debug/AxInterop.KiccPosIE.dll
PGPOSClient/bin/Debug/Interop.Microsoft.Office.Core.dll
PGServerManager/obj/Debug/PGServerManager.csproj.GenerateResource.cache
PGServer/obj/Debug/PGServer.csproj.GenerateResource.cache
PGPOSClient/obj/Debug/PGPOSClient.csproj.ResolveComReference.cache
PGPOSClient/obj/Debug/PGPOSClient.csproj.GenerateResource.cache
PGPOSClient/obj/Debug/Interop.Microsoft.Office.Core.dll
PGPOSClient/obj/Debug/Interop.KiccPosIE.dll
PGPOSClient/obj/Debug/AxInterop.KiccPosIE.dll
PGPOSClient/bin/Debug/stdole.dll
Report/obj/Debug/Report.csproj.GenerateResource.cache
PMS/PMS/obj/Debug/PMS.csproj.GenerateResource.cache
PGPOSClient/bin/Debug/Interop.KiccPosIE.dll
CardBills/bin/Debug/stdole.dll
.vs/PGS_eBill-CE/v15/Server/sqlite3/storage.ide
Report/bin/Debug/PGComm.dll
Report/bin/Debug/stdole.dll
PGClient/bin/Debug/stdole.dll
CardBills/obj/Debug/CardBills.csproj.FileListAbsolute.txt
KICCCard/obj/Debug/KICCCard.csproj.FileListAbsolute.txt
CardBills/obj/Debug/build.force
PGClient/bin/Debug/CardBills.xml
PGPOSClient/bin/Debug/KICCCard.xml
PGPOS/bin/Debug/KICCCard.xml
PGClient/bin/Debug/eBillCE.xml
PGClient/bin/Debug/KICCCard.xml
KICCCard/bin/Debug/KICCCard.XML
PMS/PMS/bin/Debug/KICCCard.xml
PGServer/bin/Debug/KICCCard.xml
UpgradeLog4.htm
Report/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CardBills/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/PGS_eBill-CE/v15/Server/sqlite3/db.lock
CardBills/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CardBills/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CardBills/obj/Debug/CardBills.csprojResolveAssemblyReference.cache
CardBills/bin/Debug/ru/DevExpress.XtraEditors.v17.2.resources.dll
CardBills/bin/Debug/ru/DevExpress.Utils.v17.2.resources.dll
CardBills/bin/Debug/ru/DevExpress.Sparkline.v17.2.Core.resources.dll
CardBills/bin/Debug/ru/DevExpress.Printing.v17.2.Core.resources.dll
CardBills/bin/Debug/ru/DevExpress.Pdf.v17.2.Core.resources.dll
CardBills/bin/Debug/ru/DevExpress.Data.v17.2.resources.dll
CardBills/bin/Debug/ja/DevExpress.XtraEditors.v17.2.resources.dll
CardBills/bin/Debug/ja/DevExpress.Utils.v17.2.resources.dll
CardBills/bin/Debug/ja/DevExpress.Sparkline.v17.2.Core.resources.dll
CardBills/bin/Debug/ja/DevExpress.Printing.v17.2.Core.resources.dll
CardBills/bin/Debug/ja/DevExpress.Pdf.v17.2.Core.resources.dll
CardBills/bin/Debug/ja/DevExpress.Data.v17.2.resources.dll
CardBills/bin/Debug/es/DevExpress.XtraEditors.v17.2.resources.dll
CardBills/bin/Debug/es/DevExpress.Utils.v17.2.resources.dll
CardBills/bin/Debug/es/DevExpress.Sparkline.v17.2.Core.resources.dll
CardBills/bin/Debug/es/DevExpress.Printing.v17.2.Core.resources.dll
CardBills/bin/Debug/es/DevExpress.Pdf.v17.2.Core.resources.dll
CardBills/bin/Debug/es/DevExpress.Data.v17.2.resources.dll
CardBills/bin/Debug/de/DevExpress.XtraEditors.v17.2.resources.dll
CardBills/bin/Debug/de/DevExpress.Utils.v17.2.resources.dll
CardBills/bin/Debug/de/DevExpress.Sparkline.v17.2.Core.resources.dll
CardBills/bin/Debug/de/DevExpress.Printing.v17.2.Core.resources.dll
CardBills/bin/Debug/de/DevExpress.Pdf.v17.2.Core.resources.dll
CardBills/bin/Debug/de/DevExpress.Data.v17.2.resources.dll
CardBills/bin/Debug/DevExpress.XtraEditors.v17.2.xml
CardBills/bin/Debug/DevExpress.XtraEditors.v17.2.dll
CardBills/bin/Debug/DevExpress.Utils.v17.2.xml
CardBills/bin/Debug/DevExpress.Utils.v17.2.dll
CardBills/bin/Debug/DevExpress.Sparkline.v17.2.Core.xml
CardBills/bin/Debug/DevExpress.Sparkline.v17.2.Core.dll
CardBills/bin/Debug/DevExpress.Printing.v17.2.Core.xml
CardBills/bin/Debug/DevExpress.Printing.v17.2.Core.dll
CardBills/bin/Debug/DevExpress.Pdf.v17.2.Core.xml
CardBills/bin/Debug/DevExpress.Pdf.v17.2.Core.dll
CardBills/bin/Debug/DevExpress.Data.v17.2.xml
CardBills/bin/Debug/DevExpress.Data.v17.2.dll
CardBills/bin/Debug/CardBills.XML
PGConfig/obj/Debug/PGConfig.csprojResolveAssemblyReference.cache
PGComm/obj/Debug/PGComm.csprojResolveAssemblyReference.cache
Report/obj/Debug/Report.csprojResolveAssemblyReference.cache
PMS/PMS/obj/Debug/PMS.csprojResolveAssemblyReference.cache
PGServer/obj/Debug/PGServer.csprojResolveAssemblyReference.cache
PGPOSClient/obj/Debug/PGPOSClient.csprojResolveAssemblyReference.cache
PGPOS/obj/Debug/PGPOS.csprojResolveAssemblyReference.cache
PGClient/obj/Debug/eBill-CE.csprojResolveAssemblyReference.cache
MemberShip/obj/Debug/MemberShip.csprojResolveAssemblyReference.cache
Member/obj/Debug/Member.csprojResolveAssemblyReference.cache
KICCCard/obj/Debug/KICCCard.csprojResolveAssemblyReference.cache
.vs/config/applicationhost.config
PGClient/bin/Debug/ru/DevExpress.XtraEditors.v17.2.resources.dll
PGClient/bin/Debug/ru/DevExpress.Utils.v17.2.resources.dll
PGClient/bin/Debug/ru/DevExpress.Sparkline.v17.2.Core.resources.dll
PGClient/bin/Debug/ru/DevExpress.Printing.v17.2.Core.resources.dll
PGClient/bin/Debug/ru/DevExpress.Pdf.v17.2.Core.resources.dll
PGClient/bin/Debug/ru/DevExpress.Data.v17.2.resources.dll
PGClient/bin/Debug/ja/DevExpress.XtraEditors.v17.2.resources.dll
PGClient/bin/Debug/ja/DevExpress.Utils.v17.2.resources.dll
PGClient/bin/Debug/ja/DevExpress.Sparkline.v17.2.Core.resources.dll
PGClient/bin/Debug/ja/DevExpress.Printing.v17.2.Core.resources.dll
PGClient/bin/Debug/ja/DevExpress.Pdf.v17.2.Core.resources.dll
PGClient/bin/Debug/ja/DevExpress.Data.v17.2.resources.dll
PGClient/bin/Debug/es/DevExpress.XtraEditors.v17.2.resources.dll
PGClient/bin/Debug/es/DevExpress.Utils.v17.2.resources.dll
PGClient/bin/Debug/es/DevExpress.Sparkline.v17.2.Core.resources.dll
PGClient/bin/Debug/es/DevExpress.Printing.v17.2.Core.resources.dll
PGClient/bin/Debug/es/DevExpress.Pdf.v17.2.Core.resources.dll
PGClient/bin/Debug/es/DevExpress.Data.v17.2.resources.dll
PGClient/bin/Debug/de/DevExpress.XtraEditors.v17.2.resources.dll
PGClient/bin/Debug/de/DevExpress.Utils.v17.2.resources.dll
PGClient/bin/Debug/de/DevExpress.Sparkline.v17.2.Core.resources.dll
PGClient/bin/Debug/de/DevExpress.Printing.v17.2.Core.resources.dll
PGClient/bin/Debug/de/DevExpress.Pdf.v17.2.Core.resources.dll
PGClient/bin/Debug/de/DevExpress.Data.v17.2.resources.dll
PGClient/bin/Debug/DevExpress.XtraEditors.v17.2.xml
PGClient/bin/Debug/DevExpress.XtraEditors.v17.2.dll
PGClient/bin/Debug/DevExpress.Utils.v17.2.xml
PGClient/bin/Debug/DevExpress.Utils.v17.2.dll
PGClient/bin/Debug/DevExpress.Sparkline.v17.2.Core.xml
PGClient/bin/Debug/DevExpress.Sparkline.v17.2.Core.dll
PGClient/bin/Debug/DevExpress.Printing.v17.2.Core.xml
PGClient/bin/Debug/DevExpress.Printing.v17.2.Core.dll
PGClient/bin/Debug/DevExpress.Pdf.v17.2.Core.xml
PGClient/bin/Debug/DevExpress.Pdf.v17.2.Core.dll
PGClient/bin/Debug/DevExpress.Data.v17.2.xml
PGClient/bin/Debug/DevExpress.Data.v17.2.dll
UpgradeLog.htm
PGClient/bin/Debug/Config.xml
PGClient/bin/Debug/ShockwaveFlashObjects.dll
PGClient/bin/Debug/FlashControlV71.dll
PGClient/bin/Debug/CrystalDecisions.Windows.Forms.dll
PGClient/bin/Debug/CrystalDecisions.Shared.dll
PGClient/bin/Debug/CrystalDecisions.ReportSource.dll
PGClient/bin/Debug/CrystalDecisions.ReportAppServer.XmlSerialize.dll
PGClient/bin/Debug/CrystalDecisions.ReportAppServer.ReportDefModel.dll
PGClient/bin/Debug/CrystalDecisions.ReportAppServer.Prompting.dll
PGClient/bin/Debug/CrystalDecisions.ReportAppServer.ObjectFactory.dll
PGClient/bin/Debug/CrystalDecisions.ReportAppServer.DataSetConversion.dll
PGClient/bin/Debug/CrystalDecisions.ReportAppServer.DataDefModel.dll
PGClient/bin/Debug/CrystalDecisions.ReportAppServer.CubeDefModel.dll
PGClient/bin/Debug/CrystalDecisions.ReportAppServer.Controllers.dll
PGClient/bin/Debug/CrystalDecisions.ReportAppServer.CommonObjectModel.dll
PGClient/bin/Debug/CrystalDecisions.ReportAppServer.CommonControls.dll
PGClient/bin/Debug/CrystalDecisions.ReportAppServer.CommLayer.dll
PGClient/bin/Debug/CrystalDecisions.ReportAppServer.ClientDoc.dll
PGClient/bin/Debug/CrystalDecisions.CrystalReports.Engine.dll
CardBills/bin/Debug/ShockwaveFlashObjects.dll
CardBills/bin/Debug/FlashControlV71.dll
CardBills/bin/Debug/CrystalDecisions.Windows.Forms.dll
CardBills/bin/Debug/CrystalDecisions.Shared.dll
CardBills/bin/Debug/CrystalDecisions.ReportSource.dll
CardBills/bin/Debug/CrystalDecisions.ReportAppServer.XmlSerialize.dll
CardBills/bin/Debug/CrystalDecisions.ReportAppServer.ReportDefModel.dll
CardBills/bin/Debug/CrystalDecisions.ReportAppServer.Prompting.dll
CardBills/bin/Debug/CrystalDecisions.ReportAppServer.ObjectFactory.dll
CardBills/bin/Debug/CrystalDecisions.ReportAppServer.DataSetConversion.dll
CardBills/bin/Debug/CrystalDecisions.ReportAppServer.DataDefModel.dll
CardBills/bin/Debug/CrystalDecisions.ReportAppServer.CubeDefModel.dll
CardBills/bin/Debug/CrystalDecisions.ReportAppServer.Controllers.dll
CardBills/bin/Debug/CrystalDecisions.ReportAppServer.CommonObjectModel.dll
CardBills/bin/Debug/CrystalDecisions.ReportAppServer.CommonControls.dll
CardBills/bin/Debug/CrystalDecisions.ReportAppServer.CommLayer.dll
CardBills/bin/Debug/CrystalDecisions.ReportAppServer.ClientDoc.dll
CardBills/bin/Debug/CrystalDecisions.CrystalReports.Engine.dll
PGClient/bin/Debug/ConfigDataSet.xml
PGClient/bin/Debug/Default_KICC.INI
PGClient/bin/Debug/AppInfo.xml
PGClient/bin/Debug/UserCtl.dll
PGClient/bin/Debug/eBillUpdate.exe
Report/bin/Debug/PGComm.dll.config
Report/bin/Debug/Crypto.dll
Report/bin/Debug/office.dll
Report/bin/Debug/Microsoft.Office.Interop.Excel.dll
Report/bin/Debug/Microsoft.Vbe.Interop.dll
Report/bin/Debug/Oracle.DataAccess.dll
Report/bin/Debug/PGComm.xml
PMS/PMS/bin/Debug/EFT_DA_20090219.Log
PMS/PMS/bin/Debug/EFT_DA_20090220.Log
PMS/PMS/bin/Debug/EFT_DA_20090223.Log
PMS/PMS/bin/Debug/EFT_DA_20090302.Log
PMS/PMS/bin/Debug/EFT_DA_20090303.Log
PMS/PMS/bin/Debug/EFT_DA_20090305.Log
PMS/PMS/bin/Debug/EFT_DA_20090323.Log
PMS/PMS/bin/Debug/EFT_DA_20090324.Log
PMS/PMS/bin/Debug/EFT_DA_20090325.Log
PMS/PMS/bin/Debug/EFT_ERR_20090223.Log
PGClient/bin/Debug/WinSCP.exe
